# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
1º_ passo_sequencia_basica/ex10_tinta_para_parede/Makefile.win
1º_ passo_sequencia_basica/ex10_tinta_para_parede/Projeto1.dev
1º_ passo_sequencia_basica/ex10_tinta_para_parede/Projeto1.layout
1º_ passo_sequencia_basica/ex14_locadora_de_carros/Makefile.win
1º_ passo_sequencia_basica/ex14_locadora_de_carros/Projeto1.layout
1º_ passo_sequencia_basica/ex14_locadora_de_carros/Projeto1.dev
1º_ passo_sequencia_basica/ex16_redução_vida_fumante/ex16.dev
1º_ passo_sequencia_basica/ex16_redução_vida_fumante/ex16.layout
1º_ passo_sequencia_basica/Ex3_nome_salario/Makefile.win
1º_ passo_sequencia_basica/Ex3_nome_salario/Projeto3.dev
1º_ passo_sequencia_basica/Ex3_nome_salario/Projeto3.layout
1º_ passo_sequencia_basica/ex6_antecessor_sucessor/ex6.dev
1º_ passo_sequencia_basica/ex6_antecessor_sucessor/ex6.layout
1º_ passo_sequencia_basica/ex6_antecessor_sucessor/Makefile.win
1º_ passo_sequencia_basica/ex7_dobro_terça_parte/main.c
1º_ passo_sequencia_basica/ex7_dobro_terça_parte/Makefile.win
1º_ passo_sequencia_basica/ex7_dobro_terça_parte/Projeto1.dev
1º_ passo_sequencia_basica/ex7_dobro_terça_parte/Projeto1.layout
1º_ passo_sequencia_basica/ex9_conversao_real_dolar/carteira_de_dolares.dev
1º_ passo_sequencia_basica/ex9_conversao_real_dolar/carteira_de_dolares.layout
1º_ passo_sequencia_basica/ex9_conversao_real_dolar/Makefile.win
